/*global*/

.music {
    background-image:url(images/seamless.gif);
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    margin:0;
    min-height:100vh
}

#content {
    position:absolute;
    width:1000px;
    height:725px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#chrysalis {
    position:absolute;
    width:1000px;
    height:350px;
    background-color:rgba(0, 0, 0, 0.5);
    opacity:1;
}

#chrysText {
    position:absolute;
    width:605px;
    height:290px;
    left:350px;
    top:15px;
    background-color:rgba(112, 128, 144, 0.3);
    opacity:0.5;
    font-family:"c";
    color:white;
    padding:15px;
}

#chrysCover {
    position:absolute;
    height:320px;
    width:320px;
    top:15px;
    left:15px;
}

#ep {
    position:absolute;
    width:1000px;
    height:350px;
    bottom:0px;
    background-color:rgba(0, 0, 0, 0.5);
    opacity:1;
}

#epText {
    position:absolute;
    width:605px;
    height:290px;
    left:350px;
    bottom:15px;
    background-color:rgba(112, 128, 144, 0.3);
    opacity:0.5;
    font-family:"c";
    color:white;
    padding:15px;
}

#epCover {
    position:absolute;
    height:320px;
    width:320px;
    bottom:15px;
    left:15px;
}

/*dropdown navbar*/

.dropdown {
    position:absolute;
    width:100%;
    height:80px;
    top:-40px;
    transition:0.3s;
    left:0px
}

#pulltab {
    position:absolute;
    width:80px;
    height:40px;
    bottom:0px;
    left:2%;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    background-color:black;
    opacity:0;
    transition:0.3s;
}

#pulltab:hover {
    opacity:0.3;
    transition:0.3s;
    cursor: pointer;
}

#arrow {
    position:absolute;
    opacity:1;
    bottom:0px;
    left:2%;
    pointer-events:none;
    z-index: 10;
    transition:0.3s;
    opacity:1;
}

#scrollbar {
    position:absolute;
    width:100%;
    height:5px;
    bottom:40px;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity:1;
}

.navbar {
    position:absolute;
    width:100%;
    height:40px;
    background-color:black;
    opacity:0.3;
}

/*links*/

#toAbout {
    position:absolute;
    width:25%;
    height:40px;
    z-index:2;
    color:white;
    font-family:"a";
    font-size:xx-large;
    text-align:center;
    vertical-align:middle;
    line-height:40px;
    transition:0.2s;
}

#toAbout:hover {
    background-color:white;
    transition:0.2s;
    color:black;
}

#toHome {
    position:absolute;
    width:25%;
    height:40px;
    left:25%;
    z-index:2;
    color:white;
    font-family:"a";
    font-size:xx-large;
    text-align:center;
    vertical-align:middle;
    line-height:40px;
    transition:0.2s;
}

#toHome:hover {
    background-color:white;
    transition:0.2s;
    color:black;
}

#toNow {
    position:absolute;
    width:25%;
    height:40px;
    left:50%;
    z-index:2;
    color:white;
    font-size:xx-large;
    font-family:"a";
    text-align:center;
    vertical-align:middle;
    line-height:40px;
    transition:0.2s;
}

#toNow:hover {
    background-color:white;
    transition:0.2s;
    color:black;
}

#toFun {
    position:absolute;
    width:25%;
    height:40px;
    left:75%;
    z-index:2;
    color:white;
    font-size:xx-large;
    font-family:"a";
    text-align:center;
    vertical-align:middle;
    line-height:40px;
    transition:0.2s;
}

#toFun:hover {
    background-color:white;
    transition:0.2s;
    color:black;
}