/*global*/

.music {
    background-image:url(images/seamless.gif);
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    margin:0;
    min-height:100vh;
    overflow:hidden;
}

#content {
    position:absolute;
    height:100%;
    max-height:700px;
    overflow:hidden;
    width:100vw;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.button {
    position:absolute;
    height:100%;
    width:100%;
    max-height:200px;
    max-width:100px;
    top:50%;
    transform:translateY(-50%);
    z-index:2;
}

.button:hover {
    cursor:pointer;
}

#leftButton {
    left:19.75%;
}

#rightButton {
    right:19.75%;
}

.arrow_button {
    position:absolute;
    opacity:0.3;
    width:100px;
    height:200px;
    filter:blur(2px);
    transition:0.2s;
}

.arrow_button:hover {
    opacity:0.6;
    filter:blur(0px);
}

.album {
    position:absolute;
    scroll-snap-align:center;
    width:100%;
    height:100%;
    max-width:700px;
    max-height:700px;
    background-color:rgba(0, 0, 0, 0.5);   
}

.text {
    position:absolute;
    width:0px;
    height:0px;
    left:350px;
    top:15px;
    background-color:rgba(112, 128, 144, 0.3);
    opacity:0.5;
    font-family:"c";
    color:white;
    padding:0px;
}

.cover {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); 
    height:690px;
    width:690px;
}

#zero {
    left:-350px;
    scale:0.8;
    filter:blur(10px);
}

#one {
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); 
    z-index:1;
    transition:background-color 0.3s;
}

#one:hover {
    background-color:rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

#two {
    right:-350px;
    scale:0.8;
    filter:blur(10px);
}

/*albums animation*/

/*dropdown navbar*/

.dropdown {
    position:absolute;
    width:100%;
    height:80px;
    top:-40px;
    transition:0.3s;
    left:0px
}

#pulltab {
    position:absolute;
    width:80px;
    height:40px;
    bottom:0px;
    left:2%;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    background-color:black;
    opacity:0;
    transition:0.3s;
}

#pulltab:hover {
    opacity:0.3;
    transition:0.3s;
    cursor: pointer;
}

#arrow {
    position:absolute;
    opacity:1;
    bottom:0px;
    left:2%;
    pointer-events:none;
    z-index: 10;
    transition:0.3s;
    opacity:1;
}

#scrollbar {
    position:absolute;
    width:100%;
    height:5px;
    bottom:40px;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity:1;
}

.navbar {
    position:absolute;
    width:100%;
    height:40px;
    background-color:black;
    opacity:0.3;
}

/*links*/

.navtext {
    position:absolute;
    width:25%;
    max-height:40px;
    z-index:2;
    color:white;
    font-family:"a";
    font-size:2em;
    text-align:center;
    vertical-align:middle;
    line-height:40px;
    transition:0.2s;
}

.navtext:hover {
    background-color:white;
    transition:0.2s;
    color:black;
}

#toAbout {
    left:0%;
}

#toHome {
    left:25%;
}

#toNow {
    left:50%;
}

#toFun {
    left:75%;
}

@media only screen and (max-width: 600px) {
    .navtext {
        font-size:1.5em;
    }
}