/*global*/

.music {
    background-image:url(images/seamless.gif);
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    margin:0;
    min-height:100vh;
    overflow:hidden;
}

#content {
    position:absolute;
    width:100%;
    height:100vh;
    overflow:visible;
    max-width:1000px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#albums {
    position:absolute;
    overflow-y:auto;
    width:100%;
    max-width:1000px;
    height:100vh;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    scrollbar-width:none;
    -ms-overflow-style:none;
}

#albums::-webkit-scrollbar {
    display: none;
}

.scrollpad {
    position:absolute;
    max-width:1000px;
    max-height:300px;
    width:100%;
    height:100%;
}

#topscrollpad {
    top:0px;
}

#botscrollpad {
    top:1400px;
}

.album {
    width:100%;
    height:100%;
    max-width:1000px;
    max-height:350px;
    background-color:rgba(0, 0, 0, 0.5);
    transition:0.5s;   
}

.text {
    position:absolute;
    width:605px;
    height:290px;
    left:350px;
    top:15px;
    background-color:rgba(112, 128, 144, 0.3);
    opacity:0.5;
    font-family:"c";
    color:white;
    padding:15px;
}

.cover {
    position:absolute;
    height:320px;
    width:320px;
    top:15px;
    left:15px;
}

#comingsoon {
    position:absolute;
    top:300px;
}

#chrysalis {
    position:absolute;
    top:675px;
}

#ep {
    position:absolute;
    top:1050px;
}

/*dropdown navbar*/

.dropdown {
    position:absolute;
    width:100%;
    height:80px;
    top:-40px;
    transition:0.3s;
    left:0px
}

#pulltab {
    position:absolute;
    width:80px;
    height:40px;
    bottom:0px;
    left:2%;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    background-color:black;
    opacity:0;
    transition:0.3s;
}

#pulltab:hover {
    opacity:0.3;
    transition:0.3s;
    cursor: pointer;
}

#arrow {
    position:absolute;
    opacity:1;
    bottom:0px;
    left:2%;
    pointer-events:none;
    z-index: 10;
    transition:0.3s;
    opacity:1;
}

#scrollbar {
    position:absolute;
    width:100%;
    height:5px;
    bottom:40px;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity:1;
}

.navbar {
    position:absolute;
    width:100%;
    height:40px;
    background-color:black;
    opacity:0.3;
}

/*links*/

.navtext {
    position:absolute;
    width:25%;
    max-height:40px;
    z-index:2;
    color:white;
    font-family:"a";
    font-size:2em;
    text-align:center;
    vertical-align:middle;
    line-height:40px;
    transition:0.2s;
}

.navtext:hover {
    background-color:white;
    transition:0.2s;
    color:black;
}

#toAbout {
    left:0%;
}

#toHome {
    left:25%;
}

#toNow {
    left:50%;
}

#toFun {
    left:75%;
}

@media only screen and (max-width: 600px) {
    .navtext {
        font-size:1.5em;
    }
}