/*global*/
html {
    scrollbar-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0);
    scrollbar-width: thin;
}

::-webkit-scrollbar-track {
    background-color:rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background-color:rgba(255, 255, 255, 0.75);
}

::-webkit-scrollbar {
    width:8px;
}

body {
    overflow:auto;
}

.hidden {
    visibility:hidden;
}

.inactive {
    pointer-events:none;
    opacity:0.25;
}

.highlight_disabled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

br {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

body {
    margin:0;
    padding:0;
}

.background video {
    position:fixed;
    right:0px;
    bottom:0px;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    z-index:-1;
}

.content {
    position:absolute;
    background-color:rgba(255, 255, 255, 0);
    max-width:1060px;
    max-height:700px;
    width:100%;
    height:100%;
    top:50%;left:50%;
    transform:translate(-50%, -50%);
}

.struct iframe {
    position:absolute;
    height:100%;
    max-width:290px;
    border:none;
    overflow:visible;
}

.page {
    position:absolute;
    right:0px;
    max-width:750px;
    width:100%;
    height:100%;
}

.panel {
    position:absolute;
    background-color:rgba(0, 0, 0, 0.85);
    display:inline-block;
    width:max-content;
}

#logo {
    position:absolute;
    max-width:280px;
    max-height:280px;
    left:10px;
}

#logo img {
    max-width:250px;
    max-height:250px;
    padding:15px;
    opacity:0.75;
}

.nav iframe{
    position:absolute;
    max-height:400px;
    height:100%;
    max-width:290px;
    bottom:0px;
    border:none;
    overflow:visible;
}

.panel.button {
    left:10px;
    max-width:280px;
    width:100%;
    max-height:50px;
    height:100%;
    transition:0.25s;
}

.panel.button p {
    position:absolute;
    top:50%;transform:translateY(-50%);
    margin:0;
    padding-left:15px;
    font-family:'a';
    font-size:2em;
    color:rgba(255, 255, 255, 0.75);
    text-align:left;
    transition:color 0.25s;
}

.panel.button:hover{
    background-color:rgba(255, 255, 255, 0.75);
    cursor:pointer;
    transition:0.1s;
    transform:translateX(-10px);
}

.panel.button:hover p{
    color:rgba(87, 118, 255, 0.85);
    transition:0.1s;
}

#button1 {
    top:70px;
}

#button2 {
    top:calc(70*2px);
}

#button3 {
    top:calc(70*3px);
}

#button4 {
    top:calc(70*4px);
}

#button5 {
    top:calc(70*5px);
}

.copyscork img {
    position:absolute;
    opacity:0.85;
    bottom:5px;
    right:5px;
    max-width:75px;
    max-height:75px;
}