@font-face {
    font-family:"NimbusSansLBold";
    src: url(fonts/NimbusSanL-Bol.otf)
}

.name {
    font-family:"NimbusSansLBold";
    margin:auto
}

.toHome {
    position:absolute;
    width:100px;
    height:100px;
    top:30px;
    right:30px
}