@font-face {
    font-family:"NimbusSansLBold";
    src: url(fonts/NimbusSanL-Bol.otf)
}

.index {
    position:relative;
    background-image:url(images/pagebackground.png);
    background-repeat:no-repeat;
    background-size:100%;
    max-height:100vh;
}

div.name {
    font-family:"NimbusSansLBold";
    position:absolute;
    top:30px;
    left:30px
}

.toHome {
    position:absolute;
    width:100px;
    height:100px;
    top:30px;
    right:30px
}