/*global properties*/

@font-face {
    font-family:"NimbusSansLBold";
    src: url(fonts/NimbusSanL-Bol.otf)
}

/*landing page properties*/

.index {
    background-image:url(images/background.png);
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    margin:0;
    min-height:100vh
}

#homeLogoSpinContainer {
    max-height:700px;
    max-width:700px;
    background-image:url(images/logocontainer.png);
    background-repeat:no-repeat;
    position:absolute;
    text-align:center;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}

#buttonContainer {
    height:600px;
    width:1350px;
    position:relative;
    margin:auto;
    padding:176px 0;
}

#toLatest {
    height:113px;
    width:300px;
    position:absolute;
}

#toMusic {
    height:112px;
    width:323px;
    position:absolute;
    bottom:176px;
    left:0px;
}

/* Music */

#toHome {
    position:absolute;
    width:100px;
    height:100px;
    top:25px;
    right:25px
}